# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

.vscode/

AI/SadTalker/checkpoints/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

**/doc/api/
Frontend/.dart_tool/
Frontend/.flutter-plugins
Frontend/.flutter-plugins-dependencies
Frontend/.pub-cache/
Frontend/.pub/
/Frontend/build/

# Android Studio will place build artifacts here
/Frontend/android/app/debug
/Frontend/android/app/profile
/Frontend/android/app/release
