[submodule "backend"]
	path = backend
	url = https://github.com/AlphaSphereDotAI/chatacter_backend
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/AlphaSphereDotAI/chatacter_flutter
	branch = main