[submodule "backend"]
	path = backend
	url = https://github.com/AlphaSphereDotAI/chatacter_backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/AlphaSphereDotAI/chatacter_flutter
