[submodule "frontend"]
	path = frontend
	url = https://github.com/AlphaSphereDotAI/chatacter_flutter
[submodule "backend"]
	path = backend
	url = https://github.com/AlphaSphereDotAI/chatacter_backend
[submodule "streamlit"]
	path = streamlit
	url = https://github.com/AlphaSphereDotAI/chatacter_streamlit
