# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

.vscode/

AI/SadTalker/checkpoints/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

**/doc/api/
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.pub-cache/
frontend/.pub/
/frontend/build/

# Android Studio will place build artifacts here
/frontend/android/app/debug
/frontend/android/app/profile
/frontend/android/app/release
