basicsr==1.4.2
bitsandbytes==0.42.0
cog==0.9.4
datasets==2.18.0
Django==5.0.2
djangorestframework==3.14.0
dominate==2.9.1
easydict==1.12
face_alignment==1.4.1
facexlib==0.3.0
gradio==4.19.2
huggingface_hub==0.21.3
imageio==2.34.0
insightface==0.7.3
kornia==0.7.1
langchain_core==0.1.28
langchain_groq==0.0.1
launch==0.1.3
librosa==0.10.1
lws==1.2.8
matplotlib==3.8.3
menpo==0.11.0
mxnet==1.9.1
numpy==1.26.4
onnx==1.15.0
onnxruntime==1.17.1
onnxsim==0.4.35
pandas==2.2.1
peft==0.9.0
Pillow==10.2.0
prettytable==3.10.0
protobuf==4.25.3
pydub==0.25.1
pytorch3d==0.7.4
PyYAML==6.0.1
PyYAML==6.0.1
qai_hub_models==0.3.2
realesrgan==0.3.0
Requests==2.31.0
safetensors==0.4.2
scikit_learn==1.4.1.post1
scipy==1.12.0
skimage==0.0
sounddevice==0.4.6
streamlit==1.31.1
tensorflow==2.15.0.post1
torch==2.2.1
torchvision==0.17.1
tqdm==4.66.2
transformers==4.38.2
trimesh==4.1.7
TTS==0.22.0
webui==0.1.7
yacs==0.1.8
