name: Chatacter
on:
    push:
        branches: main
    pull_request:
jobs:
    Documentation:
        runs-on: ubuntu-latest
        steps:
            - name: Harden the runner (Audit all outbound calls)
              uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
              with:
                egress-policy: audit
            - name: Checkout
              uses: actions/checkout@v6.0.1
            - name: Set up UV
              uses: astral-sh/setup-uv@v7.2.0
              with:
                  enable-cache: true
                  cache-dependency-glob: "uv.lock"
            - name: Set up Python
              uses: actions/setup-python@v6.1.0
              with:
                  python-version-file: ".python-version"
            - name: Install the project
              run: uv sync --all-extras --dev
            - name: Build documentation
              run: uv run mkdocs gh-deploy -v --force
    SonarCloud:
        runs-on: ubuntu-latest
        steps:
            - name: Harden the runner (Audit all outbound calls)
              uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
              with:
                egress-policy: audit
            - uses: actions/checkout@v6.0.1
              with:
                  fetch-depth: 0
            - name: SonarCloud Scan
              uses: SonarSource/sonarcloud-github-action@v5.0.0
              env:
                  GITHUB_TOKEN: ${{ secrets.TOKEN_GITHUB }}
                  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
