name: Chatacter
on:
    push:
        branches: main
    pull_request:
jobs:
    Documentation:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6.0.1
            - name: Set up UV
              uses: astral-sh/setup-uv@v7.2.0
            - name: Build documentation
              run: uvx mkdocs gh-deploy -v --force
    SonarCloud:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6.0.1
              with:
                  fetch-depth: 0
            - name: SonarCloud Scan
              uses: SonarSource/sonarcloud-github-action@v5.0.0
              env:
                  GITHUB_TOKEN: ${{ secrets.TOKEN_GITHUB }}
                  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

