name: Chatacter
on:
    push:
        branches: main
    pull_request:
jobs:
    Documentation:
        runs-on: ubuntu-latest
        steps:
            - name: Harden the runner (Audit all outbound calls)
              uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
              with:
                egress-policy: audit
            - name: Checkout
              uses: actions/checkout@v6.0.2
            - name: Set up UV
              uses: astral-sh/setup-uv@v7.2.1 
            - name: Install the project
              run: uv sync --frozen --no-dev
            - name: Build documentation
              run: uv run mkdocs gh-deploy -v --force
    SonarCloud:
        runs-on: ubuntu-latest
        steps:
            - name: Harden the runner (Audit all outbound calls)
              uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
              with:
                egress-policy: audit
            - uses: actions/checkout@v6.0.2
              with:
                  fetch-depth: 0
            - name: SonarCloud Scan
              uses: SonarSource/sonarcloud-github-action@v5.0.0
              env:
                  GITHUB_TOKEN: ${{ secrets.TOKEN_GITHUB }}
                  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}


